/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background: #434E53;
  position: absolute;
}

footer {
  position: relative;
  bottom: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.span-blue-color {
  color: #26969B;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

input {
  border: 0;
}

/* Buttons */
button {
  background: none;
  border: 0;
}

.white-bg-button {
  background-color: #fff;
  padding: 10px 1.5em;
  border-radius: 15px;
  font-size: 1.2em;
  color: #000;
  cursor: pointer;
}

.white-bg-button:hover {
  transition: 0.4s;
  background-color: #26969B;
  color: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.blue-bg-button {
  background-color: #26969B;
  color: #fff;
  padding: 10px 1.5em;
  border-radius: 15px;
  font-size: 1.2em;
  cursor: pointer;
}

.blue-bg-button:hover {
  transition: 0.4s;
  background-color: #fff;
  color: #26969B;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/* Header */
header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  grid-column: 2/3;
}

.header-auth-buttons .white-bg-button {
  margin-right: 15px;
}

.header-logo img {
  width: 75%;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  header {
    all: unset;
  }
}
footer {
  margin-top: 20vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h1 {
  text-align: center;
  font-size: 3em;
}

.footer-auth-buttons {
  margin: 1.5em auto;
}

.footer-auth-buttons .white-bg-button {
  margin-right: 1em;
}

.footer-options {
  margin: 2em 0;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

footer p {
  margin-bottom: 1.5em;
}

footer h3 {
  margin-bottom: 0.6em;
}

footer ul li {
  margin-bottom: 0.5em;
}

footer ul li a {
  color: #9e9e9e;
}

footer ul li a:hover {
  text-decoration: underline;
}

.index-main-content {
  display: flex;
  margin-top: 12vh;
}

.index-main-content div {
  width: 50%;
}

.index-main-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-main-image img {
  width: 80%;
}

.index-main-text {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index-main-text h1 {
  text-align: right;
  margin-bottom: 5vh;
  font-size: 3em;
}

.index-main-text h3 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5vh;
  font-size: 1.4em;
}

.index-main-text .blue-bg-button {
  font-size: 1.4em;
}

@media only screen and (max-width: 850px) {
  .index-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .index-main-text, .index-main-text h1 {
    margin-top: 1em;
    text-align: center;
  }
}
.register-content {
  display: flex;
  height: 70vh;
  margin-top: 4vh;
}

.register-content div {
  width: 50%;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form form {
  height: 70%;
  width: 50%;
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.register-form form input {
  width: 80%;
  padding: 0.8em 1em;
  margin-top: 2em;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.register-form form input::placeholder {
  color: #494949;
}

.register-form .blue-bg-button {
  margin-top: 2em;
}

.register-image {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-image img {
  width: 80%;
  margin: 3em 0;
}

.register-content h2 a span:hover {
  text-decoration: underline;
}