$main-color: #26969B;
$background-color: #434E53;
$grey-background: #DCDCDC;
$white: #fff;
$newbie-color: #8B8B8B;
$junior-color: #C9B133;
$plain-color: #EA745B;
$expert-color: #56B435;
$master-color: #CA5ADC;