/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body {
    background: $background-color; 
    position: absolute;
}

footer{
    position: relative;
    bottom: 0;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.span-blue-color {
    color: $main-color;
}

ul{
    list-style: none;
}

a{
    color: $white;
    text-decoration: none;
}

input {
    border: 0;
}

.msg-red{
    background-color: rgb(243, 147, 147);
    color: $white;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}