/* Buttons */

button{
    background: none;
    border: 0;
}

.white-bg-button {
    background-color: $white;
    padding: 10px 1.5em;
    border-radius: 15px;
    font-size: 1.2em;
    color: #000;
    cursor: pointer

}
.white-bg-button:hover{
    transition: .4s;
    background-color: $main-color;
    color: $white;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.blue-bg-button {
    background-color: $main-color;
    color: $white;
    padding: 10px 1.5em;
    border-radius: 15px;
    font-size: 1.2em;
    cursor: pointer
}

.blue-bg-button:hover{
    transition: .4s;
    background-color: $white;
    color: $main-color;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}