/* Header */
header{
    position: relative;
    width: 100%;
    @include grid;
    grid-template-columns: repeat(3, 1fr);
}
header div {
    @include flexCenter;

}
.header-logo{
    grid-column: 2/3;
}
.header-auth-buttons .white-bg-button{
    margin-right: 15px;
}
.header-logo a {
    @include flexCenter;
}
.header-logo a img{
    width: 85%;
    text-align: center;
}
.user-header-icons-btn{
    color: #fff;
    font-size: 2em;
    margin-right: 1em;
}
.user-header-icons-btn:hover{
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    header{
        all: unset;
    }
}